body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./bg.jpeg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header navli {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header.logo {
    margin-top: 10px;
}

header.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.hero {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    background-color: #cdc4c4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.doctors {
    margin-top: 20px;
}

.doctor-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.doctor-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

.trainers {
    margin-top: 20px;
}

.trainer-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.trainer-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

.hospitals {
    margin-top: 20px;
}

.hospital-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.hospital-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}