body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./hs2.jpeg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hospitals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.hospital-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hospital-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hospital-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hospital-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hospital-card li {
    margin-bottom: 10px;
}

.hospital-card li:before {
    content: "\2022";
    font-size: 18px;
    color: #666;
    margin-right: 10px;
}