body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.doctors {
    margin-top: 20px;
}

.doctor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.doctor-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.doctor-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

.hospitals {
    margin-top: 20px;
}

.hospital-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.hospital-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hospital-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

.trainers {
    margin-top: 20px;
}

.trainer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.trainer-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.trainer-card img {
    width: 350px;
    height: 150px;
    /* border-radius: 50%; */
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}